table {
    table-layout: fixed;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
}

button {
    padding: 3px 4px 3px 4px;
    border: 0px;
    font-size: 1.2em;
    background-color: transparent;
}

button:hover {
    background-color: #3acec2;
    color: #ffffff
}

button:focus {
    outline: none;
}

td, th {
    padding: 0.5rem 0;
    border-bottom: 1px solid #000000;
}

thead {
    background-color: #125B84;
    color: #ffffff;
}

thead th:nth-child(1) {
    width: 80%;
}

thead th:nth-child(2) {
    width: 12%;
}

thead th:nth-child(3) {
    width: 8%;
}

tr:nth-child(2) {
    background-color: #dcdcdc;
}

tbody > tr:hover {
    background-color: #3acec2;
    color: #ffffff;
}

.leaderboard {
    display: flex;
    flex-direction: column;
}

.team-leaderboard, .player-leaderboard {
    margin: 15px 0;
}

@media (min-width: 769px) {

}

@media (min-width: 1025px) {
    .leaderboard {
        flex-direction: row;
        padding: 15px 0px;
    }
}

