table {
    table-layout: fixed;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    padding: 0.5rem;
    border-bottom: 1px solid #000000;
}

thead {
    background-color: #125B84;
    color: #ffffff;
}

thead th:nth-child(1) {
    width: 60%;
}

thead th:nth-child(2) {
    width: 30%;
}

thead th:nth-child(3) {
    width: 10%;
}

tr:nth-child(2) {
    background-color: #dcdcdc;
}

tbody > tr:hover {
    background-color: #3acec2;
    color: #ffffff;
}

.leaderboard {
    display: flex;
    flex-direction: column;
}

.team-leaderboard, .player-leaderboard {
    margin: 15px 0;
}

@media (min-width: 769px) {

}

@media (min-width: 1025px) {
    .leaderboard {
        flex-direction: row;
        padding: 15px 0px;
    }
}

